@charset "UTF-8";

/* Typical Device Breakpoints
Pequenas telas: 600px max
Celular: 600 até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/
/* Mobile First */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

:root{
    --main: #372B41;
    --color2: #52366B;
    --color3: #673296;
    --color4: #7520C0;
}
body{
    background-image: url(../img/a.jpg);
   background-size: cover;
    background-position: center; 
}


header{
    background-image: linear-gradient(to bottom,var(--main), black );
    padding: 10px;
    color: white;
    box-shadow: 0.5px 0.5px 2px white;
}
header p{
    margin-left: 10px;
    margin-bottom: 7px;
    display: none;
}
header a{
    color: white;
    text-decoration: none;
}

header h1{
    padding: 5px; 
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header p{
    font-size: 1em;
    margin-top: 10px;
}    
header a:hover{
    text-decoration: line-through;
    
}
header nav{
    margin-left: auto;
}
header nav a{
    margin-left: 1px;
}
nav{
    text-align: right;
}


main article p {
    padding: 20px;
    background-color: var(--color2);
    width: 70vw;
    height: 100vh;
    margin-top: 20px;
    margin-left: 40px;
    color: white;
}
