@charset "UTF-8";

/* Typical Device Breakpoints
Pequenas telas: 600px max
Celular: 600 até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/
/* Mobile First */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

:root{
    --main: #372B41;
    --color2: #52366B;
    --color3: #673296;
    --color4: #7520C0;
}
body{
    background-color: #000000;

}

@font-face {
    font-family: 'Titulo';
    src: url('titulo.ttf') format('truetype');
}
@font-face {
    font-family: 'Desc';
    src: url('desc.ttf') format('truetype');
}


header{
    background-image: linear-gradient(to bottom,var(--main), black );
    padding: 10px;
    color: white;
    box-shadow: 0.5px 0.5px 2px white;
}
header p{
    margin-left: 40px;
    margin-bottom: 7px;
    display: none;
    font-family: 'Desc';
}
header a{
    color: white;
    text-decoration: none;
}
header h1 a.nome{
    margin-left: 10px;
    font-family: 'Titulo';
    font-weight: normal;
    font-size: 18px;
}


header h1{
    
    padding: 5px; 
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header p{
    font-size: 1em;
    margin-top: 10px;
}    
header nav a:hover{
    text-decoration: line-through;
    
}
header nav{
    margin-left: auto;
}
header nav a{
    margin-left: 1px;
}
nav{
    text-align: right;
}

article{
    padding: 20px;
    width: 70vw;
    height: 100vh;
    margin-top: 20px;
    margin-left: 40px;
    color: white;
}

article h1{
    margin-top: 0.5em;
    font-size: 3em;
}
article h1 strong{
    color: var(--color4);
}
article h2{
    margin-top: 3em;
    color: rgb(151, 151, 151);
    font-weight: normal;
}
article a#botao1{
    display: block;
    background-color: var(--color4);
    padding: 10px;
    width: 100px;
    height: 20px;
    margin-top: 3em;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}


